* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media (min-width: 1024px) {

    /*
ESTILOS PARA O CABECALHO E MENU
*/
    #header-section-1 {
        background-color: #023e8a;
        color: #ffff;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: smaller;
    }

    .link {
        color: white;
        text-decoration: underline;

    }

    #header-section-1 div {
        width: fit-content;
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: rgb(247, 244, 244);
    }

    #header-section-1 div span {
        width: fit-content;
    }

    #header-section-2 {
        gap: 20px;
        padding: 10px 30px;
        display: flex;
        flex-direction: row;
        background-color: #ffff;
        justify-content: space-between
    }

    #header-section-2 div {
        display: flex;
        flex-direction: row;
        gap: 20px
    }

    #header-section-2 #binario {
        color: #023e8a;
        padding: 1px 5px;
        font-size: x-large;
        font-weight: 500;
    }

    #header-section-2 #store {
        font-size: x-large;
        border: solid;
        padding: 3px 10px;
        background-color: #023e8a;
        border-radius: 20px;
        color: #ffff
    }

    #header-section-2 #header-form {
        margin-left: 20px;
        height: fit-content;
    }

    #header-section-2 #header-form label {
        color: white;
        background-color: #023e8a;
        border-radius: 0 15px 15px 0;
        padding: 4px 15px;
        border: none;
        margin-left: -4px;
    }

    #header-form input {
        background-color: #DBDBDB;
        width: 200px;
        border-radius: 15px 0 0 15px;
        padding: 5px 5px;
        border: none;
        outline: none;
    }

    #header-form input:focus {
        outline: solid 2px #023e8a;
    }

    #header-section-2 #quant-items {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    #header-section-2 .menu-bar {
        display: none;
    }

    aside {
        display: none;
    }

    /*
ESTILOS PARA O NAV
*/

    nav {
        display: block;
    }

    nav {
        background-color: #DBDBDB;
        padding: 15px 15px;
        list-style-type: none;
    }

    nav div {
        font-size: medium;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    nav a:hover {
        color: #023e8a;
    }

    /*
ESTILOS PARA O FOOTER
*/
    #marcas-section {
        height: 250px;
        background-color: white;
        margin: 10px;

    }

    #marcas-section div {
        width: fit-content;
        margin: auto 0;

    }

    #marcas-section .marcas {
        color: #023e8a;
        border: solid;
        width: fit-content;
        font-weight: bolder;

    }

    #Newsletter-section {
        height: 200px;
        margin-top: 20px;
        margin: 10px 10px;
        background-color: #023e8a;
        color: white;
        text-align: center;
        padding: 10px;

    }

    #Newsletter-section h2 {
        font-size: x-large;
        padding: 10px;

    }

    #Newsletter-section #assina {
        background-color: black;
        width: 15%;
        border-radius: 30px;
        padding: 15px;
        color: white;
        font-weight: 400;
        font-size: large;
        height: min-content;
        border: none;
        margin-left: -70px;
        margin-top: 20px;

    }

    #Newsletter-section #assi {
        background-color: #DBDBDB;
        width: 50%;
        border-radius: 30px;
        padding: 16px;
        height: min-content;
        margin-top: 20px;
        border: none;

    }

    #section-10 {
        background-color: white;
        color: black;
        padding: 10px;
        height: 300px;
    }

    #section-10-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10px
    }

    .borda {
        border: solid 1px;
        width: 85%;
        margin: 0 auto;
    }

    .pagar {
        margin-top: 10px;
        text-align: center;
    }

    footer {
        background-color: #DBDBDB;
        text-align: center;
        padding: 20px;

    }
}

@media (max-width: 480px) {
    #header-section-1 {
        background-color: #023e8a;
        color: #ffff;
        padding: 10px 15px;
        font-size: small;
    }

    #header-section-2 {
        position: relative;
        background-color: #ffff;
    }

    .cart {
        position: absolute;
        top: 0;
        right: 3%;
    }

 
    .login {
        display: none;
    }

    .header-contacts-section {
        display: none;
    }

    .logo {
        margin-top: 10px;
    }

    #binario {
        color: rgb(7, 7, 135);
        padding: 1px 5px;
        font-size: x-large;
        font-weight: 500;
    }

    #store {
        font-size: x-large;
        border: solid;
        padding: 3px 10px;
        background-color: rgb(7, 7, 135);
        border-radius: 20px;
        color: #ffff
    }

    .cart-shopping {
        display: flex;
        gap: 15px;
    }

    .cart-shopping div {
        display: flex;
        gap: 5px;
    }

    #quant-items {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    #header-form {
        margin-left: 20px;
        height: fit-content;
        margin: 30px auto 15px auto;
        width: fit-content;
    }

    #header-form label {
        color: white;
        background-color: rgb(7, 7, 135);
        border-radius: 0 15px 15px 0;
        padding: 4px 10px;
        border: none;
        margin-left: -4px;
    }

    #header-form input {
        background-color: rgb(199, 198, 198);
        width: 200px;
        border-radius: 15px 0 0 15px;
        padding: 5px 5px;
        border: none;
        outline: none;
    }

    nav {
        display: none;
    }

    aside {
        background-color: #DBDBDB;
        margin-top: 0;

    }
    #user {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #login {
        font-size: larger;
    }

    .aside-menu {
        text-decoration: underline;
        color: black;
        display: block;
        justify-content: space-around;
        margin: 10px;
      
    }
    .link-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-style:normal;
        
    }
   

    #itens-menu {
        display: block;
        width: 100%;
    }

    #itens-menu a {
        text-decoration: none;
        color: black;
    }

    .itens {
        font-size: medium;
        display: block;
        text-align: center;
        padding: 5px;
        margin: 3px 0;
        background-color: #b2adad;
        justify-content: space-between;
    }

    #itens-menu a:hover {
        color: #023e8a;
    }

    /* style para footer mobile*/
    #marcas-section {
        height: 250px;
        background-color: white;
        margin: 10px;
    }

    #marcas-section div {
        width: fit-content;
        text-align: center;
        margin: auto 0;

    }

    #marcas-section .marcas {
        color: #023e8a;
        font-weight: bolder;

    }

    #Newsletter-section {
        height: 200px;
        margin-top: 20px;
        margin: 10px 10px;
        background-color: #023e8a;
        color: white;
        text-align: center;
        padding: 10px;

    }

    #Newsletter-section h2 {
        font-size: x-large;
        padding: 10px;

    }

    #Newsletter-section #assina {
        background-color: black;
        padding: 15px;
        padding-left: 20px;
        color: white;
        font-weight: 400;
        font-size: large;
        height: min-content;
        width: 40%;
        border-radius: 30px;
        border: none;
        margin-left: -50px;
        margin-top: 20px;
        text-align: center;



    }

    #Newsletter-section #assi {
        background-color: rgb(199, 198, 198);
        width: 60%;
        height: min-content;
        margin-top: 20px;
        padding: 15px;
        border-radius: 30px;
        border: none;

    }

    #section-10 {
        background-color: white;
        color: black;
        padding: 10px;
        height: 300px;
        text-align: center;
    }

    #section-10-1 {
        display: block;

    }

    .borda {
        border: solid 1px;
        width: 85%;
        margin: 0 auto;
    }

    .pagar {
        margin-top: 10px;
        text-align: center;
    }

    footer {
        background-color: #DBDBDB;
        text-align: center;
        padding: 20px;

    }
}